  @font-face{

      font-family: 'Gilroy - Extra Bold';

      src: url('../fonts/gilroyextrabold-webfont.woff2') format("woff2");

      font-weight: bold;

      font-style: normal;

  }

  @font-face{

      font-family: 'Gilroy';

      src: url('../fonts/gilroylight-webfont.woff2') format("woff2");

      font-weight: normal;

      font-style: normal;

  }

  body {
      margin: 0;
      padding: 0;

      font-family: 'Open Sans', 'Gilroy', sans-serif;
      font-size: 15px;
      line-height: 30px;
      font-weight: 300;
      letter-spacing: 0.15px;
      color: #000000;

      background-color: #ffffff;
  }

  *, *:before, *:after {
      box-sizing: inherit;
  }

  html {
      box-sizing: border-box;
  }

  .content-box-component {
      box-sizing: content-box;
  }

  img {
      max-width: 100%;
  }

  a {
      text-decoration: none;
  }

  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(0, 0, 0, 0);
  }

  .container {
      width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  }

  .main-navigation-wrapper {
      display: flex;
      flex-direction: column;
  }

  .main-header {
      margin-top: 40px;
      position: relative;

      background-color: #f7e296;
  }

  .logo {
      position: absolute;
      top: -20px;
      left: 60px;
      display: block;

  }

  .logo:hover,
  .logo:focus {
      color: #000000;
      opacity: 0.6;
  }

  .logo:active {
      opacity: 0.3;
  }

  .site-navigation {
      display: flex;
      min-width: 500px;
      justify-content: flex-end;
      padding: 43px 60px 40px 0;
  }

  .form-search {
      position: absolute;
      left: 97px;
      top: 42px;
      width: 500px;

  }



  .site-navigation-item {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #000000;

  }

  input[type="search"],
  .site-navigation-item:nth-of-type(1),
  .site-navigation-item:nth-of-type(2),
  .site-navigation-item:nth-of-type(3)  {
      position: relative;
  }

  .site-navigation-item:nth-of-type(3) {
      margin-left: 63px;
  }

  .site-navigation-item:nth-of-type(2) {
      margin-left: 237px;

  }



  .site-navigation-item:nth-of-type(1)::before {
      content: "";
      position: absolute;
      left: -27px;
      top: 9px;

      display: block;
      width: 13px;
      height: 12px;

      background-image: url("../img/user.svg");
      background-repeat: no-repeat;
  }

  .site-navigation-item:nth-of-type(2)::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 11px;

      display: block;
      width: 10px;
      height: 10px;

      background-image: url("../img/compare.svg");
      background-repeat: no-repeat;
  }

  .site-navigation-item:nth-of-type(3)::before {
      content: "";
      position: absolute;
      left: -23px;
      top: 9px;

      display: block;
      width: 12px;
      height: 12px;

      background-image: url("../img/cart.svg");
      background-repeat: no-repeat;
  }

  input[type="search"] {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #000000;
      opacity: 0.3;

      background-color: inherit;
      border: none;
  }

  input[type="search"]:hover {
      opacity: 0.6;
  }

  .form-search::before {
      content: "";
      position: absolute;
      left: -33px;
      top: 9px;

      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;
  }



  .site-navigation-item:hover,
  .site-navigation-item:focus {
      opacity: 0.6;
  }

  .site-navigation-item:active {
      opacity: 0.3;
  }


  /*Flex-Раскладка Хэдэра*/

  /*.main-navigation-wrapper {*/
      /*display: flex;*/
      /*flex-direction: column;*/
      /*align-items: center;*/
      /*padding: 0 60px;*/
  /*}*/

  .main-navigation {
      margin: 0 60px;
  }

  .goods-navigation {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      list-style: none;
  }

  .goods-navigation-item:nth-of-type(1) {
      position: relative;
      margin-right: 322px;
  }

  .goods-navigation-item:nth-of-type(2) {
      margin-right: 34px;
  }

  .goods-navigation-item:nth-of-type(3) {
      margin-right: auto;
  }

  .goods-navigation-item>a{
      display: block;

      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #000000;
  }

  .appearing-menu-wrapper {
      display: none;
  }

  .goods-navigation-item:nth-of-type(1):hover .appearing-menu-wrapper {
      position: absolute;
      top: 23px;
      left: -60px;
      display: flex;
      width: 1160px;
      padding: 25px 0 39px 0;

      background-color:  #f7e296;
      z-index: 5;
  }



  .goods-navigation-item a:hover,
  .goods-navigation-item a:focus {
      opacity: 0.6;
  }

  .goods-navigation-item a:active {
      opacity: 0.3;
  }

  .goods-navigation-item:first-child {
      position: relative;
  }

  .goods-navigation-item:first-child::after {
      content: "";
      position: absolute;
      left: 231px;
      top: 2px;

      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/plus.svg");
      background-repeat: no-repeat;
      opacity: 0.3;
  }

  .goods-camera,
  .goods-watch,
  .goods-copters {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      list-style: none;
  }

  .goods-camera {
      margin: 0 60px;
  }

  .goods-camera .appearing-menu-item:first-of-type,
  .goods-camera .appearing-menu-item:nth-of-type(2),
  .goods-watch .appearing-menu-item:first-of-type {
      padding-bottom: 5px;
  }



  .goods-watch {
      margin-right: 75px;
  }





  .appearing-menu-wrapper a {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #000000;
  }

  .appearing-menu-item a:hover,
  .appearing-menu-item a:focus {
      opacity: 0.6;
  }

  .appearing-menu-item a:active {
      opacity: 0.3;
  }

  /*noinspection ALL*/
  .slider > .container {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 86px;

  }

  .slider-item {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(#f7e296 163px, white 163px);
  }

  .slider-second-item,
  .slider-third-item {
      position: absolute;
      top: 0;
      width: 1160px;
  }

  .slider-info {
      width: 560px;
  }
  .slider-item p {
      margin: 0;
      padding: 0;
      z-index: 2;
  }

  .slider-item p:first-of-type {
      position: relative;
      padding-top: 132px;
      padding-bottom: 20px;

      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: 0.55px;

  }

  .slider-item p:first-of-type::before {
      position: absolute;
      content: " ";
      top: 88px;
      left: 0;
      width: 100px;
      height: 7px;

      background-color: white;
  }

  .slider-item p:first-of-type::after {
      position: absolute;
      content: "01";
      top: 41px;
      left: 330px;

      font-family: "Gilroy - Extra Bold";
      font-size: 179px;
      font-weight: 400;
      line-height: 179.2px;
      letter-spacing: 1.36px;
      color: #ffffff;
      /*z-index: 1;*/
  }


  .slider-second-item p:first-of-type::after {
      content: "02";
      left: 304px;
  }

  .slider-third-item p {
      z-index: 2;
  }

  .slider-third-item p:first-of-type::after {
      content: "03";
      left: 330px;

      letter-spacing: 4.36px;
      z-index: -1;
  }

  .slider-second-item p:first-of-type {
      z-index: 2;
  }

  .slider-item p:nth-of-type(2) {
      padding-bottom: 47px;

      color: #464646;
  }

  .slider-item p:nth-of-type(3) {
      padding-bottom: 53px;
  }

  .slider-feature th {
      margin: 0;
      padding: 0;
      padding-right: 75px;
      padding-bottom: 8px;

      font-family: Gilroy;
      font-size: 36px;
      font-weight: 300;
      line-height: 48px;
      letter-spacing: 0.1px;
  }

  .slider-feature td {
      margin: 0;
      padding: 0;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0.13px;
      color: #464646;
  }

  .slider-item a {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.15px;
      color: #000000;
  }

  .slider-first-item img {
      margin-top: 51px;
      margin-left: 91px;
  }

  .slider-second-item img {
      margin-top: 64px;
      margin-left: 115px;
  }

  .slider-third-item img {
      margin-top: 117px;
      margin-left: 30px;
  }



  .slider-first-item p:first-of-type {
      margin-right: 130px;
  }

  .slider-first-item p:nth-of-type(2) {
      margin-right: 70px;
  }

  .slider-second-item p:first-of-type {
      margin-right: 290px;
  }

  .slider-second-item p:nth-of-type(2) {
      margin-right: 110px;
  }

  .slider-third-item p:first-of-type {
      margin-right: 50px;
  }

  .slider-third-item p:nth-of-type(2) {
      margin-right: 100px;
  }

  .slider-third-item th {
      padding-right: 57px;
  }


  .slider-item a:hover,
  .slider-item a:focus {
      opacity: 0.6;

  }

  .slider-item a:active {
      opacity: 0.3;
  }

  .slider-controls {
      position: absolute;
      top:547px;
      right: 159px;
  }

  .slider input[type="radio"] {
      display: none;
  }

  .slider-controls label{
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 15px;

      background: url("../img/slider-button-empty.svg") no-repeat;
      background-size: 12px;
      cursor: pointer;
  }

  .slider-first-item,
  .slider-second-item,
  .slider-third-item {
      opacity: 0;
  }

  #slide1:checked ~ .slider-controls label[for="slide1"],
  #slide2:checked ~ .slider-controls label[for="slide2"],
  #slide3:checked ~ .slider-controls label[for="slide3"] {
      background: url("../img/slider-button копия.png") no-repeat;
  }

  #slide1:checked ~ .container>.slider-first-item {
      opacity: 1;
  }

  #slide2:checked ~ .container>.slider-second-item {
      opacity: 1;
  }

  #slide3:checked ~ .container>.slider-third-item {
      opacity: 1;
  }





  .popular-goods {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .popular-goods li:not(:last-child) {
      margin-right: 40px;
  }

  .popular-goods {
      margin: 0;
      padding: 0;

      list-style: none;
  }

  .popular-goods-picture {
      width: 160px;
      height: 160px;
      text-align: center;

      background-color: #f7e296;
  }

  .popular-goods p {
      margin: 0;
      padding: 0;
  }

  .popular-goods p:nth-of-type(2) {
      max-width: 160px;
      margin-top: 35px;
  }

  .popular-goods a {
      display: block;
      width: inherit;
      height: inherit;

      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.18px;
      color: #000000;
  }

  .popular-goods-item:nth-of-type(1) img {
      margin-top: 53px;
  }

  .popular-goods-item:nth-of-type(2) img {
      margin-top: 41px;
      margin-left: 3px;
  }

  .popular-goods-item:nth-of-type(3) img {
      margin-top: 39px;
      margin-left: 11px;
  }

  .popular-goods-item:nth-of-type(4) img {
      margin-top: 50px;
      margin-left: 7px;
  }

  .popular-goods-item:nth-of-type(5) img {
      margin-top: 32px;
      margin-left: 10px;
  }

  .popular-goods-item:nth-of-type(6) img {
      margin-top: 50px;
  }

  .popular-goods-picture a:hover,
  .popular-goods-picture a:focus {
      background-color: #f0c52e;
  }

  .popular-goods-picture a:active img {
      opacity: 0.3;
  }







  .conditions-list {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .conditions-list a {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.15px;
      color: #000000;
  }

  .conditions-list a:active {
      color: #f7e184;
  }

  .services-item h3 {
      width: 250px;

      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0.21px;
      color: #000000;
  }

  .services-item p:first-of-type {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #464646;
  }

  .services-delivery {
      background-image: url('../img/delivery.svg');
      background-repeat: no-repeat;
      background-position: 750px  -50px;
  }

  .services {
      background-color: #e5e5e5;
  }

  .services-container {
      display: flex;
      justify-content: space-between;
  }

  .services-item {
      display: flex;
      justify-content: space-between;
  }

  .credit,
  .warranty {
      display: none;
  }

  .logotypes-list {
      display: flex;
      justify-content: space-between;

      list-style: none;
      margin: 0;
      padding: 0;
  }

  .info h3,
  .contacts h3 {
      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0.21px;
      color: #000000;
  }

  .info p,
  .contacts p {
      font-family: 'Open Sans';
      font-weight: 300;
      color: #464646;
  }

  .about-us-contacts,
  .about-us-info {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.15px;
      color: #000000;
  }

  .companies {
      list-style: circle;
      margin: 0;
      padding: 0;
  }

  .companies a {
      padding-left: 10px;

      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      color: #000000;
  }

  .about-us-wrapper {
      display: flex;
      justify-content: start;
  }

  /*Модальное окно. Личный кабинет*/

  .appointment-form input[type="text"],
  .appointment-form input[type="email"],
  .appointment-form textarea {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #464646;
      opacity: 0.4;
  }

  .appointment-form label {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #000000;
  }

  .appointment-form button[type="submit"] {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.15px;
      color: #000000;

      border: none;
  }

  .appointment-form button[type="submit"]:hover,
  .appointment-form button[type="submit"]:focus {
      opacity: 1;
      cursor: pointer;
  }

  .appointment-form button[type="submit"]:active {
      opacity: 0.3;
  }

  .modal-close {
      opacity: 0.5;
      border: none;
  }

  .modal-close:hover,
  .modal-close:focus {
      opacity: 1;

      cursor: pointer;
  }

  .modal-close:active {
      opacity: 0.3;
  }
  .modal {
      display: none;
  }

  .main-footer {
      background-color: #464646;
  }

  .main-footer .container {
      display: flex;
      flex-direction: column;
  }

  .logo-footer:hover,
  .logo-footer:focus {
      opacity: .6;
  }

  .logo-footer:active {
      opacity: .3;
  }

  .footer-user-menu {
      list-style: none;
  }

  .footer-middle-item path {
      fill:  #ffc600;
  }

  .footer-middle-item a:hover path,
  .footer-middle-item a:focus path{
      opacity: 0.6;
  }

  .footer-middle-item a:active path {
      opacity: 0.3;
  }

  .footer-middle-item span {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #ffffff;
      opacity: 0.7;
  }

  .footer-middle-item a:hover span,
  .footer-middle-item a:focus span {
      opacity: 1;
  }

  .footer-middle-item a:active span {
      opacity: 0.3;
  }

  .footer-middle-item:nth-of-type(2) svg{
      fill: #ffc600;
  }

  .footer-middle-item:nth-of-type(2) a:hover svg,
  .footer-middle-item:nth-of-type(2) a:focus svg {
      opacity: 0.6;
  }

  .footer-middle-item:nth-of-type(2) a:active svg {
      opacity: 0.3;
  }

  .address,
  .phone-number {
      color: #ffffff;
  }

  .footer-site-menu {
      list-style: none;
  }

  .footer-site-menu a {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #ffffff;
  }

  .footer-site-menu a:hover,
  .footer-site-menu a:focus {
      opacity: 0.6;
  }

  .footer-site-menu a:active {
      opacity: 0.3;
  }

  .social-buttons {
      list-style: none;
  }

  .social-button {
      opacity: 0.3;
  }

  .social-button:hover,
  .social-button:focus {
      opacity: 0.6;
  }

  .social-button:active {
      opacity: 0.1;
  }

  .html-academy-logo path{
      fill:  #ffc600;
  }
  .html-academy-logo:hover path,
  .html-academy-logo:focus path {
      opacity: 0.6;
  }

  .html-academy-logo:active path {
      opacity: 0.3;
  }

  /*КАТАЛОГ catalog.html*/

  .catalog-page-header {
      margin-bottom: 40px;
  }

  .catalog-good-current {
      margin: 0;
      padding: 0;
      margin-left: 60px;
      margin-bottom: 35px;

      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0.17px;
      color: #000000;
  }

  .breadcrumbs {
      margin: 0;
      padding: 0;
      margin-left: 60px;
      margin-bottom: 50px;

      list-style: none;
  }
  .breadcrumbs a {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.14px;
      color: #000000;
      opacity: 0.3;
  }

  .catalog-columns {
      display: flex;
      justify-content: space-between;
  }

  .filters {
      background-color: #efefef;
  }

  .filters-title-wrapper {
      width: 328px;
      margin: 0;
      padding: 0;

      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.91px;
      color: #000000;

      background-color:  #dbdbdb;
  }

  .filters-title,
  .filters-wrapper {
      margin: 0;
      padding: 0;
      margin-left: 60px;
  }

  .filters fieldset {
      border: none;
  }

  .filter-list {
      margin: 0;
      padding: 0;

      list-style: none;
  }

  .filter fieldset{
      margin: 0;
      padding: 0;
  }

  .catalog-wrapper {
      display: flex;
      /*justify-content: flex-start;*/
      /*flex-wrap: wrap;*/
      flex-direction: column;
  }

  .sorting-list-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;

  }

  .sorting-item-title {
      margin-left: 72px;

      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.91px;
      color: #000000;
  }

  .sorting-item:nth-of-type(1) a,
  .sorting-item:nth-of-type(2) a,
  .sorting-item:nth-of-type(3) a {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #000000;
  }

  .sorting-item:nth-of-type(2) a,
  .sorting-item:nth-of-type(3) a {
      opacity: 0.3;
  }

  .sorting-item-up a {
      opacity: 0.2;
  }

  .sorting-up-down,
  .sorting-list {
      margin: 0;
      padding: 0;

      list-style: none;
  }




  .catalog-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      margin-left: 72px;

      list-style: none;
  }

  .catalog-item:nth-of-type(even) {
      margin-left: 40px;
  }

  .catalog-list h3 {
      margin: 0;
      padding: 0;
  }

  .goods-title span:nth-of-type(1) {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.18px;
      color: #000000;
  }

  .goods-title span:nth-of-type(2) {
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.16px;
      color: #464646;
  }

  .label-new {
      width: 60px;
      height: 61px;
      
      border: 2px solid #000000;
      border-radius: 50%;
      opacity: 0.1;

      font-family: "Gilroy - Extra Bold";
      font-size: 14px;
      font-weight: 400;
      line-height: 61px;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      color: #000000;
      opacity: 0.2;
      text-align: center;
  }

  .catalog-item-basket a {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.15px;
      color: #000000;
  }

  .catalog-item-basket a:active {
      opacity: 0.3;
  }

  .catalog-item-compare a {
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0.13px;
      color: #000000;
      opacity: 0.5;
  }

  .catalog-item-compare a:hover,
  .catalog-item-compare a:focus {
      opacity: 1;
  }

  .catalog-item-compare a:active {
      opacity: 0.2;
  }

  .pagination-list {
      margin: 0;
      padding: 0;
      margin-left: 72px;

      list-style: none;
  }

  .pagination-item a {
      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.91px;
      color: #000000;
  }

  .pagination-item:nth-of-type(3) a,
  .pagination-item:nth-of-type(4) a {
      opacity: 0.3;
  }

  .pagination-item-backward:active,
  .pagination-item-forward :active {
      opacity: 0.3;
  }
