  @font-face{
      font-family: "Gilroy";
      font-weight: 300;
      font-style: normal;

      src: local("Gilroy-Light"), local("Gilroy Light"),
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
  }

  @font-face{
      font-family: "Gilroy";
      font-weight: 800;
      font-style: normal;

      src: local("Gilroy-ExtraBold"), local("Gilroy Extra Bold"),
      url("../fonts/gilroyextrabold.woff2") format("woff2"),
      url("../fonts/gilroyextrabold.woff") format("woff");
  }

  @font-face {
      font-family: "Open Sans";
      font-weight: 300;
      font-style: normal;

      src: local("Open Sans Light"),
      url("../fonts/opensanslight.woff2") format("woff2"),
      url("../fonts/opensanslight.woff") format("woff");
  }

  @font-face {
      font-family: "Open Sans";
      font-weight: 400;
      font-style: normal;

      src: local("Open Sans"),
      url("../fonts/opensans.woff2") format("woff2"),
      url("../fonts/opensans.woff") format("woff")
  }


  body {
      margin: 0;
      padding: 0;

      font-family: "Open Sans", "Gilroy", sans-serif;
      font-size: 15px;
      line-height: 30px;
      font-weight: 300;
      letter-spacing: 0.15px;
      color: #000000;

      background-color: #ffffff;
  }

  *, *:before, *:after {
      box-sizing: inherit;
  }

  html {
      box-sizing: border-box;
  }

  .content-box-component {
      box-sizing: content-box;
  }

  img {
      max-width: 100%;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(0, 0, 0, 0);
  }

  .container {
      width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  }

  .main-navigation-wrapper {
      display: flex;
      flex-direction: column;
  }

  .main-header {
      margin-top: 40px;
      position: relative;

      background-color: #f7e296;
  }

  .logo {
      position: absolute;
      top: -20px;
      left: 60px;
      display: block;

  }

  .logo:hover,
  .logo:focus {
      color: #000000;
      opacity: 0.6;
  }

  .logo:active {
      opacity: 0.3;
  }

  .site-navigation {
      display: flex;
      min-width: 500px;
      justify-content: flex-end;
      padding: 43px 60px 40px 0;
  }

  .form-search {
      position: absolute;
      left: 97px;
      top: 42px;
      width: 500px;

  }



  .site-navigation-item {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #000000;

  }

  input[type="search"],
  .site-navigation-item:nth-of-type(1),
  .site-navigation-item:nth-of-type(2),
  .site-navigation-item:nth-of-type(3)  {
      position: relative;
  }

  .site-navigation-item:nth-of-type(3) {
      margin-left: 63px;
  }

  .site-navigation-item:nth-of-type(2) {
      margin-left: 237px;

  }



  .site-navigation-item:nth-of-type(1)::before {
      content: "";
      position: absolute;
      left: -27px;
      top: 9px;

      display: block;
      width: 13px;
      height: 12px;

      background-image: url("../img/user.svg");
      background-repeat: no-repeat;
  }

  .site-navigation-item:nth-of-type(2)::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 11px;

      display: block;
      width: 10px;
      height: 10px;

      background-image: url("../img/compare.svg");
      background-repeat: no-repeat;
  }

  .site-navigation-item:nth-of-type(3)::before {
      content: "";
      position: absolute;
      left: -23px;
      top: 9px;

      display: block;
      width: 12px;
      height: 12px;

      background-image: url("../img/cart.svg");
      background-repeat: no-repeat;
  }

  input[type="search"] {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #000000;
      opacity: 0.3;

      background-color: inherit;
      border: none;
  }

  input[type="search"]:hover {
      opacity: 0.6;
  }

  .form-search::before {
      content: "";
      position: absolute;
      left: -33px;
      top: 9px;

      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;
  }



  .site-navigation-item:hover,
  .site-navigation-item:focus {
      opacity: 0.6;
  }

  .site-navigation-item:active {
      opacity: 0.3;
  }


  /*Flex-Раскладка Хэдэра*/

  /*.main-navigation-wrapper {*/
      /*display: flex;*/
      /*flex-direction: column;*/
      /*align-items: center;*/
      /*padding: 0 60px;*/
  /*}*/

  .main-navigation {
      margin: 0 60px;
  }

  .goods-navigation {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      list-style: none;
  }

  .goods-navigation-item:nth-of-type(1) {
      position: relative;
      margin-right: 322px;
  }

  .goods-navigation-item:nth-of-type(2) {
      margin-right: 34px;
  }

  .goods-navigation-item:nth-of-type(3) {
      margin-right: auto;
  }

  .goods-navigation-item>a{
      display: block;

      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #000000;
  }

  .appearing-menu-wrapper {
      display: none;
  }

  .goods-navigation-item:nth-of-type(1):hover .appearing-menu-wrapper {
      position: absolute;
      top: 23px;
      left: -60px;
      display: flex;
      width: 1160px;
      padding: 25px 0 39px 0;

      background-color:  #f7e296;
      z-index: 5;
  }



  .goods-navigation-item a:hover,
  .goods-navigation-item a:focus {
      opacity: 0.6;
  }

  .goods-navigation-item a:active {
      opacity: 0.3;
  }

  .goods-navigation-item:first-child {
      position: relative;
  }

  .goods-navigation-item:first-child::after {
      content: "";
      position: absolute;
      left: 231px;
      top: 2px;

      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/plus.svg");
      background-repeat: no-repeat;
      opacity: 0.3;
  }

  .goods-camera,
  .goods-watch,
  .goods-copters {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      list-style: none;
  }

  .goods-camera {
      margin: 0 60px;
  }

  .goods-camera .appearing-menu-item:first-of-type,
  .goods-camera .appearing-menu-item:nth-of-type(2),
  .goods-watch .appearing-menu-item:first-of-type {
      padding-bottom: 5px;
  }



  .goods-watch {
      margin-right: 75px;
  }





  .appearing-menu-wrapper a {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #000000;
  }

  .appearing-menu-item a:hover,
  .appearing-menu-item a:focus {
      opacity: 0.6;
  }

  .appearing-menu-item a:active {
      opacity: 0.3;
  }

  /*noinspection ALL*/
  .slider > .container {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 86px;

  }

  .slider-item {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(#f7e296 163px, white 163px);
  }

  .slider-second-item,
  .slider-third-item {
      position: absolute;
      top: 0;
      width: 1160px;
  }

  .slider-info {
      width: 560px;
  }
  .slider-item p {
      margin: 0;
      padding: 0;
      /*z-index: 2;*/
  }

  .slider-item p:first-of-type {
      position: relative;
      padding-top: 132px;
      padding-bottom: 20px;

      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: 0.55px;

  }

  .slider-item p:first-of-type::before {
      position: absolute;
      content: " ";
      top: 88px;
      left: 0;
      width: 100px;
      height: 7px;

      background-color: white;
  }

  .slider-item p:first-of-type::after {
      position: absolute;
      content: "01";
      top: 41px;
      left: 330px;

      font-family: "Gilroy - Extra Bold";
      font-size: 179px;
      font-weight: 400;
      line-height: 179.2px;
      letter-spacing: 1.36px;
      color: #ffffff;
      /*z-index: 1;*/
  }


  .slider-second-item p:first-of-type::after {
      content: "02";
      left: 304px;
  }

  .slider-third-item p {
      z-index: 1;
  }

  .slider-third-item p:first-of-type::after {
      content: "03";
      left: 330px;

      letter-spacing: 4.36px;
      z-index: -1;
  }

  .slider-second-item p:first-of-type {
      z-index: 2;
  }

  .slider-item p:nth-of-type(2) {
      padding-bottom: 47px;

      color: #464646;
  }

  .slider-item p:nth-of-type(3) {
      padding-bottom: 53px;
      width: 220px;
      text-align: center;
  }

  .slider-link {
      display: block;
      padding: 8px 0;
      background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px );
  }

  .slider-link:hover,
  .slider-link:focus {
      background: #f0c52e;
  }








  .slider-feature th {
      margin: 0;
      padding: 0;
      padding-right: 75px;
      padding-bottom: 8px;

      font-family: Gilroy;
      font-size: 36px;
      font-weight: 300;
      line-height: 48px;
      letter-spacing: 0.1px;
  }

  .slider-feature td {
      margin: 0;
      padding: 0;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0.13px;
      color: #464646;
  }

  .slider-item a {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2.15px;
      color: #000000;
  }

  .slider-first-item img {
      margin-top: 51px;
      margin-left: 91px;
  }

  .slider-second-item img {
      margin-top: 64px;
      margin-left: 115px;
  }

  .slider-third-item img {
      margin-top: 117px;
      margin-left: 30px;
  }



  .slider-first-item p:first-of-type {
      margin-right: 130px;
  }

  .slider-first-item p:nth-of-type(2) {
      margin-right: 70px;
  }

  .slider-second-item p:first-of-type {
      margin-right: 290px;
  }

  .slider-second-item p:nth-of-type(2) {
      margin-right: 110px;
  }

  .slider-third-item p:first-of-type {
      margin-right: 50px;
  }

  .slider-third-item p:nth-of-type(2) {
      margin-right: 100px;
  }

  .slider-third-item th {
      padding-right: 57px;
  }

  .slider-controls {
      position: absolute;
      top:547px;
      right: 159px;
  }

  .slider input[type="radio"] {
      display: none;
  }

  .slider-controls label{
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 15px;

      background: url("../img/slider-button-empty.svg") no-repeat;
      background-size: 12px;
      cursor: pointer;
  }

  .slider-first-item,
  .slider-second-item,
  .slider-third-item {
      opacity: 0;
  }

  #slide1:checked ~ .slider-controls label[for="slide1"],
  #slide2:checked ~ .slider-controls label[for="slide2"],
  #slide3:checked ~ .slider-controls label[for="slide3"] {
      background: url("../img/slider-button копия.png") no-repeat;
  }

  #slide1:checked ~ .container>.slider-first-item {
      opacity: 1;
  }

  #slide2:checked ~ .container>.slider-second-item {
      opacity: 1;
  }

  #slide3:checked ~ .container>.slider-third-item {
      opacity: 1;
  }





  .popular-goods {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .popular-goods li:not(:last-child) {
      margin-right: 40px;
  }

  .popular-goods {
      margin: 0;
      padding: 0;

      list-style: none;
  }

  .popular-goods-picture {
      width: 160px;
      height: 160px;
      text-align: center;

      background-color: #f7e296;
  }

  .popular-goods p {
      margin: 0;
      padding: 0;
  }

  .popular-goods p:nth-of-type(2) {
      max-width: 160px;
      margin-top: 35px;
  }

  .popular-goods a {
      display: block;
      width: inherit;
      height: inherit;

      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.18px;
      color: #000000;
  }

  .popular-goods-item:nth-of-type(1) img {
      margin-top: 53px;
  }

  .popular-goods-item:nth-of-type(2) img {
      margin-top: 41px;
      margin-left: 3px;
  }

  .popular-goods-item:nth-of-type(3) img {
      margin-top: 39px;
      margin-left: 11px;
  }

  .popular-goods-item:nth-of-type(4) img {
      margin-top: 50px;
      margin-left: 7px;
  }

  .popular-goods-item:nth-of-type(5) img {
      margin-top: 32px;
      margin-left: 10px;
  }

  .popular-goods-item:nth-of-type(6) img {
      margin-top: 50px;
  }

  .popular-goods-picture a:hover,
  .popular-goods-picture a:focus {
      background-color: #f0c52e;
  }

  .popular-goods-picture a:active img {
      opacity: 0.3;
  }

  .popular {
      margin-bottom: 81px;
  }

  .services-item h3 {
      width: 250px;

      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0.21px;
      color: #000000;
  }

  .services-item p:first-of-type {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #464646;
  }

  .services {
      background: linear-gradient(white 100px,#e5e5e5 100px );
  }

  .services-container {
      position: relative;
      display: flex;
      padding-bottom: 70px;
      margin-bottom: 94px;
  }

  .services-container::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 319px;
      top: 0;
      left: 297px;

      background-color: #000000;
  }

  .services-container > input {
      display: none;
  }

  .services-controls {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 81px;
      left: 24px;
      width: 155px;
  }

  .services-controls label {
      position: relative;
      display: inline-block;
      padding: 8px 0;
      margin-bottom: 25px;
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.8px;
      color: #000000;
      cursor: pointer;
      background-image: linear-gradient(to bottom, transparent 15px, #f0c52e 15px, #f0c52e 23px,transparent 23px );
      text-align: center;
  }

  .services-container label::after {
      content: "";
      position: absolute;
      top: 0;
      width: 135px;
      height: 40px;
      visibility: hidden;

      background-color: #000000;
  }

  .services-container label:nth-child(2)::after,
  .services-container label:nth-child(3)::after {
      left: 145px;
  }


  .services-container label:hover,
  .services-container label:focus {
      background-color: #f0c52e;
  }

  .services-item h3,
  .services-item p {
      margin: 0;
      padding: 0;
  }

  .services-item {
      margin-left: 284px;
      padding-left: 118px;
      padding-top: 74px;
      padding-bottom: 77px;
  }

  .services-delivery {
      background-image: url('../img/delivery.svg');
      background-repeat: no-repeat;
      background-position: 675px  84px;
  }

  .services-item h3 {
      padding-bottom: 30px;
  }

  .services-delivery p {
      padding-right: 320px;
  }

  .services-delivery {
      position: relative;
  }





  .credit,
  .warranty {
      position: absolute;
      margin: 0;
      left:0;

  }

  .warranty {
      left: 302px;

      background-image: url('../img/warranty.svg');
      background-repeat: no-repeat;
      background-position: 660px  60px;
  }

  .warranty p {
      padding-right: 320px;
  }

  .credit {
      left: 304px;

      background-image: url('../img/credit.svg');
      background-repeat: no-repeat;
      background-position: 652px  60px;
  }


  .credit p{
      padding-right: 350px;
  }

  .credit,
  .services-delivery,
  .warranty {
      opacity: 0;
  }

  #services-slide1:checked ~ .services-delivery {
      opacity: 1;
  }

  #services-slide1:checked ~ .services-controls  label:first-child::after {
      visibility: visible;
  }

  #services-slide1:checked ~ .services-controls label:first-child {
      background: #000000 none;
      color: #f0c52e;
  }

  #services-slide2:checked ~ .warranty {
      opacity: 1;
  }

  #services-slide2:checked ~ .services-controls  label:nth-child(2)::after {
      visibility: visible;
  }

  #services-slide2:checked ~ .services-controls label:nth-child(2) {
      background: #000000 none;
      color: #f0c52e;
  }

  #services-slide3:checked ~ .credit {
      opacity: 1;
  }

  #services-slide3:checked ~ .services-controls  label:nth-child(3)::after {
      visibility: visible;
  }

  #services-slide3:checked ~ .services-controls label:nth-child(3) {
      background: #000000 none;
      color: #f0c52e;
  }

  .logotypes-list {
      display: flex;
      flex-wrap: wrap;

      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .logotypes-list {
      position: relative;
  }

  .logotypes-list li:not(:last-child) {
      margin-right: 40px;
      z-index: 3;
  }

  
  .logotypes-list a::before {
      content: "";
      position: absolute;
      width: 260px;
      height: 100px;

      opacity: 0;
  }

  .logotypes-list li:first-child a::before {
      background: url("../img/logo-color-1.jpg");
  }

  .logotypes-list li:nth-child(2) a::before {
      background: url("../img/llogo-color-3-1.jpg");
  }

  .logotypes-list li:nth-child(3) a::before {
      background: url("../img/logo-color-3.jpg");
  }

  .logotypes-list li:nth-child(4) a::before {
      background: url("../img/logo-color-4.jpg");
  }

  .logotypes-list li a:hover::before {
      opacity: 1;
  }

  .logotypes {
      margin-bottom: 60px;
  }







  .info h3,
  .contacts h3 {
      position: relative;
      margin: 0;
      padding: 0;
      padding-bottom: 42px;

      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0.21px;
      color: #000000;
  }

  .info p,
  .contacts p {
      margin: 0;
      padding: 0;

      font-family: 'Open Sans';
      font-weight: 300;
      color: #464646;
  }

  .about-us-contacts,
  .about-us-info {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.55px;
      color: #000000;
  }

  .companies {
      margin: 0;
      padding: 0;
      padding-left: 35px;
      padding-bottom: 57px;

      list-style: none;
  }

  .companies li {
      position: relative;
  }

  .companies li::before {
      content: "";
      position: absolute;
      left: -34px;
      top: 17px;
      width: 8px;
      height: 8px;
      background-image: url("../img/companies-list-item.png");

  }

  .companies a {

      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      color: #000000;
  }

  .about-us-wrapper {
      display: flex;
      padding-top: 77px;
      margin-bottom: 80px;
  }

  .info {
      min-width: 600px;
  }

  .info h3::before,
  .contacts h3::before {
      content: "";
      position: absolute;
      top: -54px;
      width: 80px;
      height: 7px;

      background-color: #000000;
  }

  .info p:nth-of-type(1) {
      padding-right: 130px;
      padding-bottom: 30px;
  }

  .info p:nth-of-type(2) {
      padding-bottom: 65px;

      letter-spacing: -0.15px;
  }

  .contacts p:nth-of-type(1) {
      padding-bottom: 40px;
  }

  .contacts p:nth-child(3) {
      padding-bottom: 60px;
  }


  .info p:nth-of-type(3),
  .contacts p:nth-of-type(3){
      width: 260px;

      text-align: center;
  }

  .about-us-info,
  .about-us-contacts {
      display: block;
      padding: 8px 0;
      width: inherit;

      background-image: linear-gradient(to bottom, transparent 15px, #f0c52e 15px,#f0c52e 23px,transparent 23px );
  }

  .about-us-info:hover,
  .about-us-contacts:hover {
      background-color: #f0c52e;
  }














  /*Модальное окно. Личный кабинет*/

  .appointment-form input[type="text"] ,
  .appointment-form input[type="email"],
  .appointment-form textarea {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #464646;
      opacity: 0.4;
  }

  .appointment-form label {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #000000;
  }

  .appointment-form button[type="submit"] {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #000000;

      border: none;
  }

  .modal-close {
      opacity: 0.5;
      border: none;
  }

  .modal-close:hover,
  .modal-close:focus {
      opacity: 1;

      cursor: pointer;
  }

  .modal-close:active {
      opacity: 0.3;
  }

  .modal p {
      margin: 0;
      padding: 0;
  }

  .modal-login p {
      display: flex;
      flex-direction: column;
  }


  .modal-login {
      position: fixed;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 960px;

      background-color: #ffffff;
      box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
      z-index: 10;
  }

  .modal-login-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 95px 100px 77px 100px;
  }

  .modal-login input[type="text"],
  .modal-login input[type="email"],
  .modal-login textarea {
      background-color: #f3f3f3;
      border: none;
  }


  .modal-login input[type="text"],
  .modal-login input[type="email"] {
      width: 360px;
      padding: 16px 20px;
      margin-top: 7px;
  }

  .modal-login input[type="text"]:hover,
  .modal-login input[type="email"]:hover,
  .modal-login textarea:hover {
      background-color: #eaeaea;
  }

  .modal-login input[type="text"]:focus,
  .modal-login input[type="email"]:focus,
  .modal-login textarea:focus {
      outline: 3px solid #f0c52e;
  }

  .modal-login input[type="text"]:invalid,
  .modal-login input[type="email"]:invalid {
      background-color: #f6dada;
  }

  .modal-login textarea {
      width: 760px;
      padding: 16px 20px;
  }

  .appointment-item:last-of-type {
      margin-top: 34px;
  }

  .appointment-item:last-of-type label {
      padding-bottom: 7px;
  }




  .modal-login .modal-close {
      position: absolute;
      top: 23px;
      right: 15px;
  }

  .modal-login .button {
      margin-top: 39px;
      width: 200px;
      text-align: center;
      padding: 8px 0;
      background-image: linear-gradient(to bottom, transparent 15px, #f0c52e 15px,#f0c52e 23px,transparent 23px );
  }

  .modal-login .button:hover,
  .modal-login .button:focus {
      background-color: #f0c52e;
  }

  .appointment-form button[type="submit"]:active {
      color: rgba(0, 0, 0, 0.3);
  }

  .modal-map {
      position: fixed;
  }



  .main-footer {
      background-color: #464646;
  }

  .main-footer .container {
      display: flex;
      flex-direction: column;
  }

  .logo-footer:hover,
  .logo-footer:focus {
      opacity: .6;
  }

  .logo-footer:active {
      opacity: .3;
  }

  .footer-top-item path {
      fill:  #ffc600;
  }

  .footer-top-item a:hover path,
  .footer-top-item a:focus path{
      opacity: 0.6;
  }

  .footer-top-item a:active path {
      opacity: 0.3;
  }

  .footer-top-item span {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #ffffff;
      opacity: 0.7;
  }

  .footer-top-item a:hover span,
  .footer-top-item a:focus span {
      opacity: 1;
  }

  .footer-top-item a:active span {
      opacity: 0.3;
  }

  .footer-top-item:nth-of-type(2) svg{
      fill: #ffc600;
  }

  .footer-top-item:nth-of-type(2) a:hover svg,
  .footer-top-item:nth-of-type(2) a:focus svg {
      opacity: 0.6;
  }

  .footer-top-item:nth-of-type(2) a:active svg {
      opacity: 0.3;
  }

  .address,
  .phone-number {
      color: #ffffff;
  }


  .footer-site-menu a {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #ffffff;
  }

  .footer-site-menu a:hover,
  .footer-site-menu a:focus {
      opacity: 0.6;
  }

  .footer-site-menu a:active {
      opacity: 0.3;
  }

  .social-button {
      opacity: 0.3;
  }

  .social-button:hover,
  .social-button:focus {
      opacity: 0.6;
  }

  .social-button:active {
      opacity: 0.1;
  }

  .html-academy-logo path{
      fill:  #ffc600;
  }
  .html-academy-logo:hover path,
  .html-academy-logo:focus path {
      opacity: 0.6;
  }

  .html-academy-logo:active path {
      opacity: 0.3;
  }




  .footer-top {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 6px;
  }

  .footer-user-menu {
      display: flex;
      margin: 0;
      padding: 0;
      padding-top: 13px;

      list-style: none;
  }

  .footer-top-item:last-child {
      padding-left: 40px;
  }

  .footer-top-item:nth-child(2) {
      padding-left: 45px;
  }

  .footer-top-item span {
      padding-left: 5px;
  }

  .footer-top-item:first-child span{
      padding-left: 9px;
  }

  .footer-middle {
      display: flex;
      padding-bottom: 60px;
  }

  .footer-middle p {
      margin: 0;
      padding: 0;

      letter-spacing: 0;
  }

  .footer-site-menu {
      display: flex;
      margin: 0;
      padding: 0;
      padding-left: 164px;
      padding-top: 3px;

      list-style: none;
  }

  .footer-site-menu li:not(:first-child) {
      padding-left: 33px;
  }

  .footer-middle .phone-number {
      padding-left: 202px;
  }

  .footer-bottom {
      position: relative;
      display: flex;
      padding-bottom: 30px;
  }

  .footer-bottom::before {
      content: "";
      position: absolute;
      top: 13px;
      width: 80px;
      height: 7px;

      background-color: #ffcc00;
  }

  .social-buttons {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      margin-left: 510px;

      list-style: none;
  }

  .social-buttons li:not(:first-child) {
      padding-left: 22px;
  }

  .copyright {
      margin: 0;
      padding: 0;

      margin-left: auto;

  }







  /*КАТАЛОГ catalog.html*/

  .catalog-page-header {
      margin-bottom: 40px;
      padding-bottom: 49px;

  }

  .catalog-good-current {
      margin: 0;
      padding: 0;
      margin-left: 60px;
      margin-bottom: 18px;

      font-family: "Gilroy - Extra Bold";
      font-size: 47px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0.6px;
      color: #000000;
  }

  .breadcrumbs {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      margin-left: 60px;
      padding-bottom: 45px;

      list-style: none;
  }

  .breadcrumbs li {
      padding-right: 20px;
  }

  .breadcrumbs a {
      padding-right: 10px;

      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.001px;
      color: #000000;
      opacity: 0.3;
  }

  .breadcrumbs li:nth-child(2) {
      padding-right: 18px;
  }

  .breadcrumbs li:nth-child(2) a {
      padding-right: 14px;
  }

  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
      opacity: 1;
      cursor: pointer;
  }

  .breadcrumbs a:active {
      opacity: 0.1;
  }





  .catalog-columns {
      display: flex;
  }

  .filters {
      background-color: #efefef;
  }

  .filters-title-wrapper {
      display: flex;
      align-items: center;
      width: 328px;
      height: 70px;
      margin: 0;
      padding: 0;

      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #000000;

      background-color:  #dbdbdb;
  }

  .filter legend {
      color: #000000;
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.18px;
  }



  .filters-title,
  .filters-wrapper {
      margin: 0;
      padding: 0;
      margin-left: 60px;
  }

  .filters fieldset {
      border: none;
  }

  .filter-list {
      margin: 0;
      padding: 0;
      padding-bottom: 31px;

      list-style: none;
      border-bottom: 2px solid #000000;
  }

  .filter fieldset {
      margin: 0;
      padding: 0;
  }

  .filters-wrapper {
      padding-right: 67px;
      padding-top: 68px;
  }

  .filter {
      border-top: 2px solid #000000;
  }

  .filter-range legend {
      padding-top: 11px;
      padding-bottom: 35px;
  }

  .price-controls input[type="text"] {
      width: 50px;
      background-color:  #efefef;
      border: none;
  }

  .price-controls label {
      margin: 0;
      padding: 0;

      color: #000000;
      opacity: 0.2;
      font-family: Gilroy;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
  }

  .price-controls .max-price {
      padding-left: 17px;
  }

  .range-controls {
      position: relative;
      padding-bottom: 5px;
  }

  .range-controls .scale {
      height: 2px;
      background-color: #dbdbdb;
  }

  .range-controls .bar {
      width: 60%;
      height: 2px;
      background-color: #91c92f;
  }

  .range-toggle {
      position: absolute;
      top: -9px;
      width: 4px;
      height: 4px;

      background: #b4b4b4;
      border: 8px solid #ffffff;
      box-sizing: content-box;
      border-radius: 50%;
      box-shadow: 0 2px 1px #dbdbdb;
      cursor: pointer;
  }

  .range-toggle-min {
      left: -5px;
  }

  .range-toggle-max {
      left: 54%;
  }

  .range-toggle:hover,
  .range-toggle:focus {
      transform: scale(1.1);
  }

  .filters .filter-range {
      padding-bottom: 32px;

      border-bottom: 2px solid #000000;
  }

  .filter-checkbox legend {
      padding-top: 11px;
      padding-bottom: 17px;
  }

  .filter-radio legend {
      padding-top: 12px;
  }

  .filter-radio-list {
      margin: 0;
      padding: 0;
      padding-bottom: 35px;

      list-style: none;
      padding-top: 16px;
  }



  input[type="checkbox"],
  input[type="radio"] {
      display: none;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
      position: relative;
      padding-left: 39px;

      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
      letter-spacing: 0.14px;
  }

  input[type="checkbox"] + label::before {
      content: "";
      position: absolute;
      left: -1px;
      top: -3px;

      width: 27px;
      height: 23px;

      background-image: url("../img/checkbox-off.svg");
      background-repeat: no-repeat;
  }

  input[type="radio"] + label::before {
      content: "";
      position: absolute;
      left: -1px;
      top: -3px;
      width: 26px;
      height: 26px;

      background-image: url("../img/radio-off.svg");
      background-repeat: no-repeat;
  }

  input[type="checkbox"]:checked + label::before {
      background-image: url("../img/checkbox-on.svg");
  }

  input[type="radio"]:checked + label::before {
      background-image: url("../img/radio-on.svg");
  }

  input[type="checkbox"] + label:hover::before,
  input[type="radio"] + label:hover::before,
  input[type="checkbox"] + label:focus::before,
  input[type="radio"] + label:focus::before {
      opacity: 0.6;
      cursor: pointer;
  }


  input[type="checkbox"] + label:active::before,
  input[type="radio"] + label:active::before {
      opacity: 1;
      cursor: pointer;
  }

  .filter button {
      padding: 8px 0;
      width: 200px;

      text-align: center;
      color: #000000;
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3.6px;

      border: none;
      background-color: inherit;
      background-image: linear-gradient(to bottom, transparent 13px, #f0c52e 13px,#f0c52e 21px, transparent 21px );
  }

  .filter button:hover,
  .filter button:focus {
      background-color: #f0c52e;
  }

  .filter button:active span{
      opacity: 0.3;
  }










  .catalog-wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 76px;
  }

  .sorting-list-wrapper {
      display: flex;
      align-items: center;
      height: 70px;

      background-color: #ebebeb;
  }

  .sorting-item-title {
      margin-left: 72px;

      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #000000;
  }

  .sorting-item:nth-of-type(1) a,
  .sorting-item:nth-of-type(2) a,
  .sorting-item:nth-of-type(3) a {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #000000;
  }

  .sorting-item:nth-of-type(2) a,
  .sorting-item:nth-of-type(3) a {
      opacity: 0.3;
  }

  .sorting-item a:hover,
  .sorting-item a:focus {
      opacity: 0.6;
  }

  .sorting-item a:active {
      opacity: 1;
  }

  .sorting-item-up a:hover,
  .sorting-item-up a:focus,
  .sorting-item-down a:hover,
  .sorting-item-down a:focus {
      opacity: 0.4;
  }

  .sorting-item-up a:active,
  .sorting-item-down a:active {
      opacity: 1;
  }

  .sorting-item-up a {
      opacity: 0.2;
  }

  .sorting-up-down,
  .sorting-list {
      display: flex;
      margin: 0;
      padding: 0;
      padding-bottom: 5px;

      list-style: none;
  }

  .sorting-list {
      padding-left: 51px;
  }

  .sorting-item:nth-child(2) {
      padding-left: 27px;
  }

  .sorting-item:nth-child(3) {
      padding-left: 29px;
  }

  .sorting-item-down {
      padding-left: 19px;
  }

  .sorting-up-down {
      margin-left: auto;
  }

  .catalog-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      margin-left: 72px;
      padding-top: 21px;
      padding-bottom: 36px;

      list-style: none;
  }

  .catalog-list h3,
  .catalog-list p {
      margin: 0;
      padding: 0;
  }

  .catalog-item {
      margin-top: 47px;
  }


  .catalog-item:nth-of-type(even) {
      margin-left: 40px;
  }

  .goods-title span:nth-of-type(1) {
      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.18px;
      color: #000000;
  }

  .goods-title span:nth-of-type(2) {
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.16px;
      color: #464646;
  }

  .goods-title {
      display: flex;
      justify-content: space-between;
      padding-top: 23px;
  }

  .catalog-item {
      position: relative;
  }

  .label-new::before {
      content: "new";
      position: absolute;
      width: 60px;
      height: 61px;
      top: 27px;
      right: 27px;

      border: 2px solid #000000;
      border-radius: 50%;

      font-family: "Gilroy - Extra Bold";
      font-size: 14px;
      font-weight: 400;
      line-height: 61px;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      color: #000000;
      opacity: 0.2;
      text-align: center;
      z-index: 3;
  }

  .catalog-item-basket {
      width: 200px;
      text-align: center;
  }

  .catalog-item-basket a {
      display: block;
      padding: 8px 0;

      font-family: "Gilroy - Extra Bold";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #000000;
      background-image: linear-gradient(to bottom, transparent 15px, #f0c52e 15px,#f0c52e 23px,transparent 23px );
  }

  .catalog-item-basket a:hover,
  .catalog-item-basket a:focus {
      background: #f0c52e none;
  }

  .catalog-item-basket a:active span{
      opacity: 0.3;
  }

  .catalog-item-compare a {
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0.13px;
      color: #000000;
      opacity: 0.5;
  }

  .catalog-item-compare a:hover,
  .catalog-item-compare a:focus {
      opacity: 1;
  }

  .catalog-item-compare a:active {
      opacity: 0.2;
  }

  .catalog-item-image {
      position: relative;
  }

  .catalog-item-basket,
  .catalog-item-compare {
      position: absolute;
      opacity: 0;
  }

  .catalog-item-basket {
      top: 174px;
      left: 82px;
  }

  .catalog-item-compare {
      top: 219px;
      left: 110px;
  }

  .catalog-item-image:hover .catalog-item-pic{
      opacity: 0.7;
  }

  .catalog-item-image:hover .catalog-item-basket,
  .catalog-item-image:hover .catalog-item-compare {
      opacity: 1;
  }



  .pagination-item a {
      font-family: "Gilroy - Extra Bold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      color: #000000;
  }

  .pagination-item:nth-of-type(3) a,
  .pagination-item:nth-of-type(4) a {
      opacity: 0.3;
  }

  .pagination-item-backward:active,
  .pagination-item-forward:active {
      opacity: 0.3;
  }

  .pagination-list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      margin-left: 72px;
      height: 70px;

      list-style: none;
      background-color: #ebebeb;
  }

  .pagination-item-backward {
      margin-right: auto;
  }

  .pagination-item-backward a {
      padding: 26px 30px 25px 30px;
  }

  .pagination-item-forward {
      margin-left: auto;
  }

  .pagination-item-forward a {
      padding: 26px 27px 25px 30px;
  }

  .pagination-item-backward a:hover,
  .pagination-item-forward a:hover {
      background-color: #d9d9d9;
  }

  .pagination-item:nth-child(2) {
      padding-left: 5px;
  }

  .pagination-item:nth-child(n+3):not(:last-child) a{
      padding-left: 30px;
  }

